{% extends 'base.html' %}

{% block 'title' %}
    Fornecedor | Deletar
{% endblock %}

{% block 'content-main' %}
<div class="container mt-5">
  <!-- Card Externo com borda suave e sombra -->
  <div class="card shadow-lg border-light rounded-3">
    <div class="card-header text-center bg-success text-white">
      <h3>Deletar Fornecedor: <strong>{{ fornecedor.codigo }}</strong></h3>
    </div>
    <div class="card-body">
      <p><strong>Tem certeza que deseja excluir este fornecedor?</strong></p>

      <!-- Informações da Fornecedor com borda e sombra -->
      <div class="section-box mb-4 p-4 rounded-2 border border-secondary shadow-sm">
        <h4 class="mb-3 text-success">Informações do Fornecedor</h4>
        <p><strong>Razão Social:</strong> {{ fornecedor.razao_social }}</p>
        <p><strong>Nome Fantasia:</strong> {{ fornecedor.nome_fantasia }}</p>
        <p><strong>CPF/CNPJ:</strong> {{ fornecedor.cpf_cnpj }}</p>
        <p><strong>Responsável:</strong> {{ fornecedor.responsavel }}</p>
        <p><strong>Contato:</strong> {{ fornecedor.contato }}</p>
        <p><strong>Email:</strong> {{ fornecedor.email }}</p>
      </div>

      <!-- Botões de Ação -->
      <form method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-danger shadow-sm px-4 py-2">Sim, excluir</button>
          <a href="{% url 'listar_fornecedores' %}" class="btn btn-secondary shadow-sm px-4 py-2">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
  <!-- Fim do Card Externo -->
</div>
{% endblock %}
