{% extends 'base.html' %}

{% block 'title' %}
    Fornecedor | Editar
{% endblock %}

{% block 'content-main' %}
<div class="container mt-5">
  <!-- Card Externo com borda suave e sombra -->
  <div class="card shadow-lg border-light rounded-3">
    <div class="card-header text-center bg-success text-white">
      <h3>Cadastrar Fornecedor</h3>
    </div>
    <div class="card-body">
      <form method="POST" novalidate>
        {% csrf_token %}
        <!-- Sessão Fornecedor -->
        <div class="section-box mb-4 p-4 rounded-2 border border-secondary shadow-sm">
          <h4 class="mb-3 text-success">Informações do Fornecedor</h4>
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="{{ form.razao_social.id_for_label }}" class="form-label"><strong>Razão Social</strong></label>
                  <input type="text" name="razao_social" class="form-control shadow-sm {% if form.razao_social.errors %}is-invalid{% endif %}" id="{{ form.razao_social.id_for_label }}" value="{{ form.razao_social.value|default:'' }}" required>
                  {% if form.razao_social.errors %}
                    <div class="invalid-feedback">
                      {% for error in form.razao_social.errors %}
                        <p>{{ error }}</p>
                      {% endfor %}
                    </div>
                  {% endif %}
                  <div class="valid-feedback">Looks good!</div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="mb-3">
                  <label for="{{ form.nome_fantasia.id_for_label }}" class="form-label"><strong>Nome Fantasia</strong></label>
                  <input type="text" name="nome_fantasia" class="form-control shadow-sm {% if form.nome_fantasia.errors %}is-invalid{% endif %}" id="{{ form.nome_fantasia.id_for_label }}" value="{{ form.nome_fantasia.value|default:'' }}" required>
                  {% if form.nome_fantasia.errors %}
                    <div class="invalid-feedback">
                      {% for error in form.nome_fantasia.errors %}
                        <p>{{ error }}</p>
                      {% endfor %}
                    </div>
                  {% endif %}
                  <div class="valid-feedback">Looks good!</div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="mb-3">
                  <label for="{{ form.cpf_cnpj.id_for_label }}" class="form-label"><strong>CPF/CNPJ</strong></label>
                  <input type="text" name="cpf_cnpj" class="form-control shadow-sm {% if form.cpf_cnpj.errors %}is-invalid{% endif %}" id="{{ form.cpf_cnpj.id_for_label }}" value="{{ form.cpf_cnpj.value|default:'' }}" required>
                  {% if form.cpf_cnpj.errors %}
                    <div class="invalid-feedback">
                      {% for error in form.cpf_cnpj.errors %}
                        <p>{{ error }}</p>
                      {% endfor %}
                    </div>
                  {% endif %}
                  <div class="valid-feedback">Looks good!</div>
                </div>
              </div>

              <div class="col-md-12">
                  <div class="mb-3">
                    <label for="{{ form.responsavel.id_for_label }}" class="form-label"><strong>Responsável</strong></label>
                    <input type="text" name="responsavel" class="form-control shadow-sm {% if form.responsavel.errors %}is-invalid{% endif %}" id="{{ form.responsavel.id_for_label }}" value="{{ form.responsavel.value|default:'' }}" required>
                    {% if form.responsavel.errors %}
                      <div class="invalid-feedback">
                        {% for error in form.responsavel.errors %}
                          <p>{{ error }}</p>
                        {% endfor %}
                      </div>
                    {% endif %}
                    <div class="valid-feedback">Looks good!</div>
                  </div>
                </div>
  
                <div class="col-md-12">
                  <div class="mb-3">
                    <label for="{{ form.contato.id_for_label }}" class="form-label"><strong>Contato</strong></label>
                    <input type="text" name="contato" class="form-control shadow-sm {% if form.contato.errors %}is-invalid{% endif %}" id="{{ form.contato.id_for_label }}" value="{{ form.contato.value|default:'' }}" required>
                    {% if form.contato.errors %}
                      <div class="invalid-feedback">
                        {% for error in form.contato.errors %}
                          <p>{{ error }}</p>
                        {% endfor %}
                      </div>
                    {% endif %}
                    <div class="valid-feedback">Looks good!</div>
                  </div>
                </div>
  
                <div class="col-md-12">
                  <div class="mb-3">
                    <label for="{{ form.email.id_for_label }}" class="form-label"><strong>Email</strong></label>
                    <input type="text" name="email" class="form-control shadow-sm {% if form.email.errors %}is-invalid{% endif %}" id="{{ form.email.id_for_label }}" value="{{ form.email.value|default:'' }}" required>
                    {% if form.email.errors %}
                      <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                          <p>{{ error }}</p>
                        {% endfor %}
                      </div>
                    {% endif %}
                    <div class="valid-feedback">Looks good!</div>
                  </div>
                </div>
              </div>
            </div>
           </div>
          <!-- Botões de Ação -->
          <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-success shadow-sm px-4 py-2">Salvar</button>
            <a href="{% url 'listar_fornecedores' %}" class="btn btn-secondary shadow-sm px-4 py-2">Cancelar</a>
          </div>
      </div>
      </form>
    </div>
  </div>
  <!-- Fim do Card Externo -->
</div>
{% endblock %}
