{% extends 'base.html' %}

{% block 'title' %}
    Clientes | Consultar
{% endblock %}

{% block 'content-main' %}
<div class="container mt-5">
  <div class="card shadow-lg border-light rounded-3">
    <div class="card-header text-center bg-success text-white">
      <h3>Busca Avançada</h3>
    </div>
    <div class="card-body">
      <form method="GET" novalidate>
        {% csrf_token %}
        <!-- Sessão Cliente -->
        <div class="section-box mb-4 p-4 rounded-2 border border-secondary shadow-sm">
          <h4 class="mb-3 text-success">Consultar Cliente</h4>
          <div class="row">
            <!-- Nome -->
            <div class="col-md-12">
              <div class="mb-3">
                <label for="{{ form.nome.id_for_label }}" class="form-label"><strong>Razão Social</strong></label>
                <input type="text" name="nome" class="form-control shadow-sm {% if form.nome.errors %}is-invalid{% endif %}" id="{{ form.nome.id_for_label }}" value="{{ form.nome.value|default:'' }}">
                {% if form.nome.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.nome.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>

            <!-- Nome fantasia -->
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="{{ form.nome_fantasia.id_for_label }}" class="form-label"><strong>Nome Fantasia</strong></label>
                    <input type="text" name="nome_fantasia" class="form-control shadow-sm {% if form.nome_fantasia.errors %}is-invalid{% endif %}" id="{{ form.nome_fantasia.id_for_label }}" value="{{ form.nome_fantasia.value|default:'' }}">
                    {% if form.nome_fantasia.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.nome_fantasia.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
      
            <!-- CPF/CNPJ -->
            <div class="col-md-12">
              <div class="mb-3">
                <label for="{{ form.cpf_cnpj.id_for_label }}" class="form-label"><strong>CPF/CNPJ</strong></label>
                <input type="text" name="cpf_cnpj" class="form-control shadow-sm {% if form.cpf_cnpj.errors %}is-invalid{% endif %}" id="{{ form.cpf_cnpj.id_for_label }}" value="{{ form.cpf_cnpj.value|default:'' }}">
                {% if form.cpf_cnpj.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.cpf_cnpj.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div> 
            <!-- Observações     -->
            <div class="col-md-12">
              <div class="mb-3">
                <label for="{{ form.obs.id_for_label }}" class="form-label"><strong>Observações</strong></label>
                <input type="text" name="obs" class="form-control shadow-sm {% if form.obs.errors %}is-invalid{% endif %}" id="{{ form.obs.id_for_label }}" value="{{ form.obs.value|default:'' }}">
                {% if form.obs.errors %}
                  <div class="invalid-feedback">
                    {% for error in form.obs.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
            <!-- Responsavel -->
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="{{ form.responsavel.id_for_label }}" class="form-label"><strong>Responsavel Legal</strong></label>
                    <input type="text" name="responsavel" class="form-control shadow-sm {% if form.responsavel.errors %}is-invalid{% endif %}" id="{{ form.responsavel.id_for_label }}" value="{{ form.responsavel.value|default:'' }}">
                    {% if form.responsavel.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.responsavel.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Responsavel CPF -->
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="{{ form.responsavel_cpf.id_for_label }}" class="form-label"><strong>Responsavel CPF</strong></label>
                    <input type="text" name="responsavel_cpf" class="form-control shadow-sm {% if form.responsavel_cpf.errors %}is-invalid{% endif %}" id="{{ form.responsavel_cpf.id_for_label }}" value="{{ form.responsavel_cpf.value|default:'' }}">
                    {% if form.responsavel_cpf.errors %}
                        <div class="invalid-feedback">
                        {% for error in form.responsavel_cpf.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
          </div>
        </div>
        <!-- Botão de busca -->
        <div class="d-flex">
            <button type="submit" class="btn btn-success shadow-sm px-4 py-2">Buscar</button>
        </div>
      </form>
    </div>
  </div>
  <hr>
  <div class="card shadow-lg border-light rounded-3">
    <div class="card-header text-center bg-success text-white">
      <h3>Resultados</h3>
    </div>
    <div class="card-body">
      <!-- Tabela de resultados -->
       <div class="section-box md-4 p-4 rounded-2 border border-secondary shadow-sm">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="d-none d-md-table-cell">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF/CNPJ</th>
                <th scope="col">Tipo</th>
                <th scope="col" class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              {% if resultados %}
                {% for resultado in resultados %}
                <tr>
                  <th scope="row" class="d-none d-md-table-cell">{{ resultado.id }}</th>
                  <td>{{ resultado.nome }}</td>
                  <td>{{ resultado.cpf_cnpj }}</td>
                  <td>{{ resultado.tipo_pessoa }}</td>
                  <td class="text-center">
                    <div class="btn-group">
                      <a type="button" role="button" href="#" class="btn btn-info">Detalhes</a>
                      <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'pessoa_fisica_update' resultado.id %}">Editar</a></li>
                        <li><a class="dropdown-item" href="#">Deletar</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <th scope="col" colspan="6" class="text-center">Sem resultados</th>
                </tr>
              {% endif %}
            </tbody>
          </table>
       </div>
    </div>
  </div>
</div>
{% endblock %}