{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style_site.css' %}">
    <link rel="icon" href="{% static '/img/logo2.png' %}" type="image/x-icon">

    <title>
        {% block 'title' %}
            Titulo padrão
        {% endblock %}
    </title>
</head>
<body class="d-flex flex-column min-vh-100">
    {% include 'confraria/includes/navbar_site.html' %}
    <div class="container flex-grow-1 my-4 text-center">
        {% block 'content-main' %}
        <img src="{% static '/img/construcao.png' %}" class="w-80" alt="Imagem do Produto">              
        {% endblock %}
    </div>
    {% include 'confraria/includes/footer_site.html' %}
    <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>