<footer class="footer-main-tema text-white">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
          <p>© 2025 A confraria. Todos os direitos reservados.</p>
          <div class="footer-sec-tema">
            <a href="https://www.instagram.com/SEU_USUARIO" target="_blank" class="text-white me-3">
              <i class="bi bi-instagram"></i> Instagram
            </a>
            <a href="https://wa.me/SEU_NUMERO" target="_blank" class="text-white">
              <i class="bi bi-whatsapp"></i> WhatsApp
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  