<footer class="footer-main-tema text-white">
  <div class="text-center">
    <p>© 2025 A confraria. Todos os direitos reservados.</p>
    <div class="footer-sec-tema">
      <a href="https://wa.me/558481844212" target="_blank" class="text-white me-3">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
      <a href="https://www.instagram.com/aconfrariacacau" target="_blank" class="text-white me-3">
        <i class="fa-brands fa-instagram" ></i>
      </a>
      <a href="#" target="_blank" class="text-white me-3">
        <i class="fa-brands fa-facebook"></i>
      <a href="#" target="_blank" class="text-white">
        <i class="fa-brands fa-youtube" ></i>
      </a>
    </div>
  </div>
</footer>
  