<footer class="footer-main-tema text-white">
  <div class="text-center">
    <div class="py-2">
      <a href="https://wa.me/558481844212" target="_blank" class="text-decoration-none text-white me-3">
        <i class="fa-brands fa-whatsapp fs-4"></i> <strong>WhatsApp</strong>
      </a>
      <a href="https://www.instagram.com/aconfrariacacau" target="_blank" class="text-decoration-none text-white me-3">
        <i class="fa-brands fa-instagram fs-4" ></i> <strong>Instagram</strong> 
      </a>
    </div>
    <div class="footer-sec-tema py-1">
      <p>© 2025  Copyright: A Confraria Cacau</p>
    </div>
  </div>
</footer>
  