{% extends 'base.html' %}

{% block 'title' %}
    Estoque | Lotes
{% endblock %}

{% block 'content-main' %}
<div class="container mt-5">
  <!-- Card Externo com borda suave e sombra -->
  <div class="card shadow-lg border-light rounded-3">
    <div class="card-header text-center bg-success text-white">
      <h3>Lista de Lotes</h3>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="mb-0">Lotes cadastrados</h4>
        <a class="btn btn-success shadow-sm" role="button" href="{% url 'novo_lote' %}">Adicionar Lote</a>
      </div>

      <!-- Tabela de Unidades -->
      <div class="section-box mb-4 p-4 rounded-2 border border-secondary shadow-sm">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="d-none d-md-table-cell">ID</th>
                <th scope="col">Código</th>
                <th scope="col">Produto</th>
                <th scope="col" class="d-none d-md-table-cell">Custo</th>
                <th scope="col" class="d-none d-md-table-cell">Preço venda</th>
                <th scope="col">Vencimento</th>
                <th scope="col" class="text-center">Ações</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              {% if lotes %}
                {% for lote in lotes %}
                  <tr>
                    <th scope="row" class="d-none d-md-table-cell">{{ lote.id }}</th>
                    <td >{{ lote.codigo }}</td>
                    <td>{{ lote.produto }}</td>
                    <td class="d-none d-md-table-cell">{{ lote.custo }}</td>
                    <td class="d-none d-md-table-cell">{{ lote.preco_venda }}</td>
                    <td>{{ lote.data_vencimento }}</td>
                    <td class="text-center">
                      <div class="btn-group">
                        <a type="button" role="button" href="{% url 'detalhes_lote' pk=lote.id %}" class="btn btn-info">Detalhes</a>
                        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                          <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'editar_lote' pk=lote.id %}">Editar</a></li>
                          <li><a class="dropdown-item" href="{% url 'deletar_lote' pk=lote.id %}">Deletar</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <th scope="col" colspan="7" class="text-center">Sem Unidades cadastradas</th>
                </tr>
              {% endif %}
            </tbody>
          </table>          
      </div>
    </div>
  </div>
  <!-- Fim do Card Externo -->
</div>
{% endblock %}
