{% extends 'base.html' %}

{% block 'title' %}
    Lote | Detalhes
{% endblock %}

{% block 'content-main' %}
<div class="container mt-5">
    <!-- Card Externo com borda suave e sombra média -->
    <div class="card shadow-lg border-light rounded-3">
        <div class="card-header text-center bg-success text-white">
            <h3>Detalhes do Lote: <strong>{{ lote.codigo }}</strong></h3>
        </div>
        <div class="card-body">
            <!-- Informações da Unidades -->
            <div class="section-box mb-4 p-4 rounded-2 border border-secondary shadow-sm">
                <dl class="row mb-4">
                    <dt class="col-sm-3"><strong>Código:</strong></dt>
                    <dd class="col-sm-9">{{ lote.codigo }}</dd>

                    <dt class="col-sm-3"><strong>Produto:</strong></dt>
                    <dd class="col-sm-9">{{ lote.produto }}</dd>
                    
                    <dt class="col-sm-3"><strong>Fornecedor:</strong></dt>
                    <dd class="col-sm-9">{{ lote.fornecedor }}</dd>

                    <dt class="col-sm-3"><strong>Preço de custo:</strong></dt>
                    <dd class="col-sm-9">{{ lote.custo }}</dd>

                    <dt class="col-sm-3"><strong>Preço de venda:</strong></dt>
                    <dd class="col-sm-9">{{ lote.preco_venda }}</dd>

                    <dt class="col-sm-3"><strong>Quantidade:</strong></dt>
                    <dd class="col-sm-9">{{ lote.quantidade }}</dd>

                    <dt class="col-sm-3"><strong>Data de cadastro:</strong></dt>
                    <dd class="col-sm-9">{{ lote.data_cadastro }}</dd>

                    <dt class="col-sm-3"><strong>Data de vencimento:</strong></dt>
                    <dd class="col-sm-9">{{ lote.data_vencimento }}</dd>
                </dl>
            </div>

            <!-- Botões de Ação -->
            <div class="row">
                <div class="col-8">
                    <a href="{% url 'editar_lote' lote.pk %}" class="btn btn-primary px-4 py-2">Editar</a>
                    <a href="{% url 'listar_lotes' %}" class="btn btn-secondary px-4 py-2">Voltar</a>
                </div>
                <div class="col-4 text-end">
                    <a href="{% url 'deletar_lote' lote.pk %}" class="btn btn-danger px-4 py-2">Deletar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim do Card Externo -->
</div>
{% endblock %}
