{% extends 'base.html' %}

{% block 'title' %}
    Estoque | Produto
{% endblock %}

{% block 'content-main' %}
    <br>
    <h1>Lista de produtos</h1>
    <hr>
    <br>
    <table class="table table-striped">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Descrição</th>
            <th scope="col">Fabricante</th>
            <th scope="col">Categoria</th>
            <th scope="col">Unidade</th>
            <th scope="col">Ações</th>
        </thea>
        <tbody class="table-group-divider">
            {% if produtos %}
                {% for produto in produtos %}
                <tr>
                    <th scope="row">{{produto.id}}</th>
                    <td>{{ produto.descricao }}</td>
                    <td>{{ produto.fabricante }}</td>
                    <td>{{ produto.categoria }} </td>
                    <td>{{ produto.unidade }}</td>
                    <td>Ações (futuro)</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <th scope="col" colspan="6" class="text-center">Sem produtos cadastrados</th>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}