{% extends 'base.html' %}

{%  block 'title' %}
    Empresa | Detalhes
{% endblock %}

{% block 'content-main' %}
<div class="container">
    <h2>Detalhes da Empresa: {{ empresa.razao_social }}</h2>
    <hr class="border border-dark">
    <dl class="row">
      <dt class="col-sm-3"><strong>Razão Social:</strong></dt>
      <dd class="col-sm-9">{{ empresa.razao_social }}</dd>
  
      <dt class="col-sm-3"><strong>Nome Fantasia:</strong></dt>
      <dd class="col-sm-9">{{ empresa.nome_fantasia }}</dd>
  
      <dt class="col-sm-3"><strong>CNPJ:</strong></dt>
      <dd class="col-sm-9">{{ empresa.cnpj }}</dd>
  
      <dt class="col-sm-3"><strong>Responsável Legal:</strong></dt>
      <dd class="col-sm-9">{{ empresa.responsavel }}</dd>
  
      <dt class="col-sm-3"><strong>CPF do Responsável:</strong></dt>
      <dd class="col-sm-9">{{ empresa.responsavel_cpf }}</dd>
  
      <dt class="col-sm-3"><strong>Nascimento Responsável:</strong></dt>
      <dd class="col-sm-9">{{ empresa.responsavel_data_nasc }}</dd>
  
      <dt class="col-sm-3"><strong>Contato:</strong></dt>
      <dd class="col-sm-9">{{ empresa.contato }}</dd>
  
      <dt class="col-sm-3"><strong>E-mail:</strong></dt>
      <dd class="col-sm-9">{{ empresa.email }}</dd>
    </dl>
    <hr class="border border-dark">
    <div class="row">
        <div class="col-8" >
            <a href="{% url 'editar_empresa' empresa.pk %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'listar_empresas' %}" class="btn btn-secondary">Voltar</a>
        </div>
        <div class="col-4 text-end">
            <a href="{% url 'deletar_empresa' empresa.pk %}" class="btn btn-danger">Deletar</a>
        </div>
    </div>
  </div>
{% endblock %}