{% extends 'base.html' %}

{% block 'title' %}
    Empresa | Detalhes
{% endblock %}

{% block 'content-main' %}
<div class="container mt-5">
    <!-- Card Externo com borda suave e sombra média -->
    <div class="card shadow-lg border-light rounded-3">
        <div class="card-header text-center bg-success text-white">
            <h3>Detalhes da Empresa: <strong>{{ empresa.razao_social }}</strong></h3>
        </div>
        <div class="card-body">
            <!-- Informações da Empresa -->
            <div class="section-box mb-4 p-4 rounded-2 border border-secondary shadow-sm">
                <dl class="row mb-4">
                    <dt class="col-sm-3"><strong>Razão Social:</strong></dt>
                    <dd class="col-sm-9">{{ empresa.razao_social }}</dd>
            
                    <dt class="col-sm-3"><strong>Nome Fantasia:</strong></dt>
                    <dd class="col-sm-9">{{ empresa.nome_fantasia }}</dd>
            
                    <dt class="col-sm-3"><strong>CNPJ:</strong></dt>
                    <dd class="col-sm-9">{{ empresa.cnpj }}</dd>
            
                    <dt class="col-sm-3"><strong>Responsável Legal:</strong></dt>
                    <dd class="col-sm-9">{{ empresa.responsavel }}</dd>
            
                    <dt class="col-sm-3"><strong>CPF do Responsável:</strong></dt>
                    <dd class="col-sm-9">{{ empresa.responsavel_cpf }}</dd>
            
                    <dt class="col-sm-3"><strong>Nascimento Responsável:</strong></dt>
                    <dd class="col-sm-9">{{ empresa.responsavel_data_nasc }}</dd>
            
                    <dt class="col-sm-3"><strong>Contato:</strong></dt>
                    <dd class="col-sm-9">{{ empresa.contato }}</dd>
            
                    <dt class="col-sm-3"><strong>E-mail:</strong></dt>
                    <dd class="col-sm-9">{{ empresa.email }}</dd>
                </dl>
            </div>

            <!-- Botões de Ação -->
            <div class="row">
                <div class="col-8">
                    <a href="{% url 'editar_empresa' empresa.pk %}" class="btn btn-primary px-4 py-2">Editar</a>
                    <a href="{% url 'listar_empresas' %}" class="btn btn-secondary px-4 py-2">Voltar</a>
                </div>
                <div class="col-4 text-end">
                    <a href="{% url 'deletar_empresa' empresa.pk %}" class="btn btn-danger px-4 py-2">Deletar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim do Card Externo -->
</div>
{% endblock %}
