{% extends 'base.html' %}

{% block 'title' %}
    Financeiro | Empresas
{% endblock %}

{% block 'content-main' %}
    <div class="content">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <h2>Lista de empresas</h2>
            <a class="btn btn-success" role="button" href="{% url 'nova_empresa' %}">Adicionar Empresa</a>
        </div> 
        <hr class="border border-dark">
        <div>
            <table class="table table-striped">
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">Razão Social</th>
                    <th scope="col">Nome Fantansia</th>
                    <th scope="col">CNPJ</th>
                    <th scope="col">Responsavel</th>
                    <th scope="col" class="text-center">Ações</th>
                </thea>
                <tbody class="table-group-divider">
                    {% if empresas %}
                        {% for empresa in empresas %}
                        <tr>
                            <th scope="row">{{empresa.id}}</th>
                            <td>{{ empresa.razao_social }}</td>
                            <td>{{ empresa.nome_fantasia }}</td>
                            <td>{{ empresa.cnpj }} </td>
                            <td>{{ empresa.responsavel }}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a type="button" role="button" href="{% url 'detalhes_empresa' pk=empresa.id %}" class="btn btn-info">Detalhes</a>
                                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                      <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="{% url 'editar_empresa' pk=empresa.id %}">Editar</a></li>
                                      <li><a class="dropdown-item" href="{% url 'deletar_empresa' pk=empresa.id %}">Deletar</a></li>
                                    </ul>
                                  </div>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <th scope="col" colspan="6" class="text-center">Sem empresas cadastradas</th>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}